{% extends 'base.html' %}
{%load static%}
{%block extra_css%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
{%endblock extra_css%}

{% csrf_token %}
{%block body%}

<div class="container"><a href="{%url 'usuarios:muro' request.user.first_name request.user.last_name%}"><img
            src="{{request.user.image.url}}"
            style="height:35px;width: 35px; border-radius: 15px; margin-left: 34.7%;"></a>
    <button class="joinBtn" hx-get="{% url 'posts:crear_posts' %}" hx-target="#dialog">Crear
        Publicacion</button>
</div><br>
{%if object_list%}
{%for publicacion in object_list%}
<div class="d-flex justify-content-center">
    <div style="align-items: center; justify-content: center">
        <div class="card" style="width: 34rem; border-radius: 10px;">
            <div class="card-body">
                <h5 class="card-title"><a
                        href="{%if publicacion.shared_user %}{%url 'usuarios:muro' publicacion.shared_user.first_name publicacion.shared_user.last_name%}{%else%} {%url 'usuarios:muro' publicacion.usuario.first_name publicacion.usuario.last_name %}{%endif%}">
                        <img src="{{publicacion.usuario.image.url}}"
                            style="height:35px;width: 35px; border-radius: 15px;"></a><a
                        href="{%if publicacion.shared_post %}{%url 'usuarios:muro' publicacion.usuario.first_name publicacion.usuario.last_name%}{%else%} {%url 'usuarios:muro' publicacion.usuario.first_name publicacion.usuario.last_name %}{%endif%}">
                        {% if publicacion.shared_post%}
                        {{publicacion.usuario}}
                        {% else %}
                        {{publicacion.usuario.first_name}}
                        {{publicacion.usuario.last_name}}
                        {% endif %}
                    </a> <label>{{publicacion.fecha_creacion|date:"d F Y"}}
                    </label><label style="float:right;">
                        <div class="dropdown">
                            <button class="" type="button" id="dropdown1" data-toggle="dropdown" aria-label="Close"
                                style="font-size: 25px; border: none; background: transparent;">...</button>
                            <div class="dropdown-menu">
                                {% if publicacion.usuario == request.user%}
                                {% if publicacion.shared_post%}
                                <button class="dropdown-item" hx-get="{% url 'posts:editar_compartido' publicacion.id%}"
                                hx-target="#dialog">Editar</button>
                                {%else%}
                                    <button class="dropdown-item" hx-get="{% url 'posts:editar_post' publicacion.id%}"
                                    hx-target="#dialog">Editar</button>
                                {% endif %}
                                <button class=" dropdown-item" hx-post="{% url 'posts:eliminar_post' publicacion.id%}"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Eliminar</button>
                                {% endif %}
                                <a class="dropdown-item" hx-post="{% url 'posts:guardar_post' publicacion.id%}"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Guardar Post</a>
                                <a class="dropdown-item" hx-get="{% url 'posts:compartir_post' publicacion.id%}"
                                    hx-target="#dialog">Compartir Post</a>
                            </div>
                        </div>
                </h5>
                <br>
                <p class=>
                    {{publicacion.contenido}}
                </p>
                {%if publicacion.imagen%}<img src="{{publicacion.imagen.url}}"
                    style="height:500px ; width: 500px;">
                {%endif%}
                {% if publicacion.shared_post.imagen %}
                <img src="{{publicacion.shared_post.imagen.url}}" style="height:500px ; width: 500px;">{%endif%}
                {%if publicacion.shared_post%}

                <label>Publicacion compartida de </label>
                {{publicacion.shared_post.usuario}} </a><label> el {{publicacion.shared_post.fecha_creacion|date:"d F Y"}}
                </label>
                <br>
                {{publicacion.shared_post.contenido}}
                {%endif%}
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            </div>
            <div class="debajo">
                <div class="seccion1">
                    <div class=""><label id="likes_{{publicacion.id}}">{{publicacion.like.count}}</label> Likes</div>
                    <div class=""><label id="dislikes_{{publicacion.id}}">{{publicacion.dislike.count}}</label> Dislikes
                    </div>
                    <div class="">Comentarios</div>
                    <div class="">{{publicacion.veces_compartidos}} Veces Compartido</div>
                </div>
                <div class="seccion2">

                    <form action="{%url 'posts:like' publicacion.id%}" method="post"> {% csrf_token %}<i
                            class="fa-solid fa-thumbs-up"></i><button type="submit" class="si"
                            id="like_{{publicacion.id}}"
                            style="{% if request.user in publicacion.like.all %}background:blue; color:white;{%endif%}"
                            onclick="AddLike({{publicacion.id}})">Like</button></form>
                    <form action="{%url 'posts:dislike' publicacion.id%}" method="post"> {% csrf_token %}<i
                            class="fa-solid fa-thumbs-down"></i><button type="submit" class="si"
                            id="dislike_{{publicacion.id}}"
                            style="{% if request.user in publicacion.dislike.all %}background:red; color:white;{%endif%}"
                            onclick="AddDislike({{publicacion.id}})">Dislike</button></form>
                    <button class="si" {% comment %} onclick="mostrarComentarios({{publicacion.id}})"{% endcomment %} onclick="comentarios({{publicacion.id}})">Comentar</button> 
                    <button class="si" hx-get="{% url 'posts:compartir_post' publicacion.id%}"
                        hx-target="#dialog">Compartir</button>
                </div>
                    <form action="{%url 'posts:comentar' publicacion.id%}" method="post" id="comentar_{{publicacion.id}}" style="display:none;margin-bottom: 10px;"> {% csrf_token %}<img src="{{request.user.image.url}}" style="height:35px;width: 35px; border-radius: 15px;"><input
                        style="width: 500px;display:inline-block;border-radius:15px " type="text" class="form-control" name="comentario"
                        placeholder="Escribe un comentario público...">
                    </form>
                <div class="comentarios" id="comentarios_{{publicacion.id}}" style="display:none;">
                    </div>
            </div>
        </div>
        <br>
    </div>
</div>

{%endfor %}
{% else %}
<h1>Crea un post o sigue un usuario</h1>
{% endif%}

<div style="" class="d-flex justify-content-center">
    <div>
        {% if object_list.has_previous%}
        <div class='clearfix'>
            <a href='?page={{object_list.previus_page_number}}' class='btn btn-success'>Anterior</a>
        </div>
        {% endif%}
        </div>
        <div>
        {% if object_list.has_next%}
        <div class='clearfix'>
            <a href='?page={{ object_list.next_page_number}}{{object_list.previus_page_number}}' class='btn btn-success'>Siguiente</a>
        </div>
        {% endif%}
        </div>
    </div>

{%endblock body%}
{%block alertas_totales%}
{{notificaciones.count}}
{%endblock alertas_totales%}

{%block alerts%}

{%for notificacion in notificaciones%}

{%if notificacion.accion == 0%}
<form action="{%url 'posts:post_detalle' notificacion.id%}" method="post"> {% csrf_token %}
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div class="icon-circle bg-warning">
            <i class="fas fa-donate text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">{{notificacion.fecha_creacion}}</div>
        El usuario: {{notificacion.user}} compartio tu publicacion {{notificacion.post.contenido}}
        <button type="submit" class="btn btn-danger btn-sm"  style="float: right;" onclick="eliminarNotificacion({{notificacion.id}})">&times;</button>
    </div>
</a>
</form>

{%endif%}
{%if notificacion.accion == 1%}
<form action="{%url 'posts:post_detalle' notificacion.id%}" method="post">{% csrf_token %}
<a class="dropdown-item d-flex align-items-center" href="" >
    <div class="mr-3">
        <div class="icon-circle bg-success">
            <i class="fas fa-donate text-white"></i>
        </div>
    </div>
    <!-- id="notificacion_{{notificacion.id}}" -->
    <div>
    <div class="small text-gray-500">{{notificacion.fecha_creacion}}</div>
        Al usuario: {{notificacion.user}} le gusta tu publicacion {{notificacion.post.contenido}}
        <button type="submit" class="btn btn-danger btn-sm"  style="float: right;" onclick="eliminarNotificacion({{notificacion.id}})">&times;</button>
    </div>
</a>
</form>
{%endif%}
{%if notificacion.accion == 2%}
<form action="{%url 'posts:post_detalle' notificacion.id%}" method="post"> {% csrf_token %}
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div class="icon-circle bg-warning">
            <i class="fas fa-donate text-white"></i>
        </div>
    </div>
    <div>
    <div class="small text-gray-500">{{notificacion.fecha_creacion}}</div>
        El usuario: {{notificacion.user}} comento tu publicacion {{notificacion.post.contenido}}
        <button type="submit" class="btn btn-danger btn-sm"  style="float: right;" onclick="eliminarNotificacion({{notificacion.id}})">&times;</button>
    </div>
</a>
</form>

{%endif%}
{%endfor%}

{%endblock alerts%}

{%block extrajs%}
<script src="{%static 'js/index.js'%}"></script>
{%endblock extrajs%}