<form action="{{request.path}}" method="post" enctype="multipart/form-data"
    class="modal-content modal-dialog modal-lg">
    {% csrf_token %}
    <div class="modal-header">
        <h2 class="modal-title">Crear publicación</h2>
        <button class="close" type="button" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ form.as_p }}
        <img id="imagenPrevisualizacion" style="width: 100px;height:100px; display: none;">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="boton_creacion" class="btn btn-primary" type="submit" data-dismiss="modal" onclick="post()">Confirmar</button>
    </div>
</form>

<script>
    // Obtener referencia al input y a la imagen
seleccionArchivos = document.querySelector("#id_imagen")
imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion")
// Escuchar cuando cambie
seleccionArchivos.addEventListener("change", () => {
    // Los archivos seleccionados, pueden ser muchos o uno
    const archivos = seleccionArchivos.files;
    // Si no hay archivos salimos de la función y quitamos la imagen
    if (!archivos || !archivos.length) {
        imagenPrevisualizacion.src = "";
        return;
    }
    imagenPrevisualizacion.style.display = 'block'
  // Ahora tomamos el primer archivo, el cual vamos a previsualizar
  const primerArchivo = archivos[0];
  // Lo convertimos a un objeto de tipo objectURL
  const objectURL = URL.createObjectURL(primerArchivo);
  // Y a la fuente de la imagen le ponemos el objectURL
  imagenPrevisualizacion.src = objectURL;
});
</script>